@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  background-color: var(--mantine-color-red-6) !important;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.logo {
  font-family: "Cafe24Ohsquare", sans-serif !important;
  color: white;
  font-size: 1.5rem;
}

.menuItem {
  color: white;
  font-size: 1.1rem;
}

.active {
  font-weight: 900;
}