@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: "Cafe24Ohsquare", sans-serif !important;
  color: white;
  font-size: 1.5rem;
}